/* font for entire page */
* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}
.padding {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* entire section wrapper */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, 25% auto);
}
.wrapper > div {
  background: #eee;
  padding-left: 40px;
  padding-right: 40px
}
.wrapper > div:nth-child(odd){
  background: #ddd;
}
/* latest reviews */
.wrapperWidth {
  grid-column: 1 / 3;
}
.nestedLatest > div {
  border: #333 1px solid;
  padding: 1em;
}
.nestedLatest {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.latestWrapper {
  display: grid;
  grid-auto-rows: minmax(15%, auto);
  grid-template-columns: 15% auto;
}
.avatar {
  grid-column: 1 / 2;
  align-self: center;
}
.nameAndDate {
  grid-column: 2 / 3;
}
.review {
  grid-column: 1 /3;
  grid-row: 2 / 3;
}
img {
  height: 25%;
  width: 25%;
  min-height: 1px;
}