.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reviewWrapper {
  display: grid;
  grid-auto-columns: repeat(5, minmax(56px, auto));
  grid-auto-rows: repeat(2, auto);
}
.avatar {
  grid-column: 1 / 2;
  align-self: center;
}
.info {
  grid-column: 2 / 6;
}
.review {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}
img {
  max-height: 56px;
  max-width: 56px;
  min-height: 1px;
}