.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reviewWrapper {
  display: grid;
  grid-auto-rows: minmax(15%, auto);
  grid-auto-columns: minmax(15% auto);
}
.avatar {
  grid-column: 1 / 2;
  align-self: center;
}
.info {
  grid-column: 2 / 3;
}
.review {
  grid-column: 1 /3;
  grid-row: 2 / 3;
}
img {
  height: 15%;
  width: 15%;
  min-height: 1px;
}