.miniReviewsAvgs {
  grid-column: 1 / 2;
}
.reviews {
  grid-column: 2 /3;
}
.wrapperWidth {
  grid-column: 1 / 3;
  padding-top: 24px;
}
.nestedTags {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
}
.nestedTags > div {
  border: #333 1px solid;
  padding: 1em;
}