/* ReviewAvgs Component */
/* Grid layouts */
.nestedAvgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nestedAvgs > div {
  padding: 1em;
}
.avgs {
  grid-column: 1 / 3;
}
.fullWidth {
  grid-column: 1 / 3;
}
.nestedTags {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
}
/* fonts */
h2 {
  font-weight: 600 !important;
}

.right{
  float: right;
}

